html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

body {
  background-color: rgb(42, 43, 46);
  border-radius: 10px;
  border: solid white 2px;
  height: 100dvh;
  box-sizing: border-box;
}

@font-face {
  font-family: "japanTourist";
  src: url("../assets/fonts/Japanese_Tourist.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jetBrains";
  src: url("../assets/fonts/JetBrainsMono-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: whitesmoke;
  margin: 0;
  font-family: "japanTourist";
  padding: 10px;
}

h2,
h3 {
  color: whitesmoke;
  font-size: 1.3rem;
  margin: 10px;
  font-family: "jetBrains";
}

a {
  text-decoration: none;
}

#Landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#myName {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3.5rem;
  font-weight: 200;
  border-bottom: solid 1px grey;
  max-width: 500px;
  margin: 0 auto;
}

#jobTitle {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#profPicContainer {
  padding: 30px;
}

#title {
  margin-bottom: 150px;
  padding: 20px;
}

#aiProfPic {
  border-radius: 50%;
  display: block;
  margin: 30px auto;
  width: 250px;
  height: 250px;
}

#socials {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.social-icon {
  max-height: 50px;
  max-width: 50px;
  margin: 10px;
}

.techIcons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px 30px;
  padding: 10px;
  border-bottom: solid 2px whitesmoke;
}

.techIcon {
  max-width: 50px;
  max-height: 50px;
  padding: 10px;
  margin: 5px;
}

#project-list {
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1700px;
  flex-wrap: wrap;
}

#project-list-header {
  width: 80%;
  max-width: 500px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.project-card {
  border: solid white 3px;
  border-radius: 5%;
  overflow: hidden;
  max-width: 600px;
  min-width: 250px;
  margin: 30px;
}
.card-header {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: grey;
}

.project-title {
  margin: 0;
  padding: 20px;
  font-family: "Montserrat";
  font-size: 1.2rem;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.project-image {
  max-width: 100%;
  box-sizing: border-box;
}

.project-description {
  padding: 0px 20px 20px 20px;
  margin: 10px;
  color: grey;
}
