html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body {
  background-color: rgb(42, 43, 46);
  border-radius: 10px;
  padding: 20px;
  border: solid white 2px;
  height: 100dvh;
  box-sizing: border-box;
  overflow-y: auto;
}
@font-face {
  font-family: "japanBrush";
  src: url("../assets/fonts/JAPAB___.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "japanTourist";
  src: url("../assets/fonts/Japanese_Tourist.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jetBrains";
  src: url("../assets/fonts/JetBrainsMono-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "splash";
  src: url("../assets/fonts/RoughSplash.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h1 {
  color: whitesmoke;
  margin: 0;
  font-family: "japanTourist";
  padding: 10px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  color: whitesmoke;
  font-size: 1.3rem;
  margin: 10px;
  font-family: "jetBrains";
}
a {
  text-decoration: none;
}
#myName {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3.5rem;
  font-weight: 200;
  border-bottom: solid 1px grey;
  max-width: 500px;
  margin: 0 auto;
}

#jobTitle {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#aiProfPic {
  border-radius: 50%;
  display: block;
  margin: 30px auto;
  width: 250px;
  height: 250px;
}

#header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#socials {
  display: inline-block;
  margin: 5px;
  padding: 10px;
}

#logo {
  padding: 10px;
  margin: 5px;
  max-width: 60px;
  max-height: 60px;
}

.social-icon {
  max-height: 41px;
  max-width: 41px;
  margin: 10px;
}

#nav-container {
  padding: 10px;
  margin-top: 30px;
}

.banner-btn {
  background-image: url("../assets/brush-stroke-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  max-width: 350px;
  height: 70px;
  position: relative;
  margin: 5px auto;
}

.banner-text {
  position: absolute;
  top: 25%;
  left: 10%;
  color: black;
  font-family: "splash";
  font-weight: 100;
}

/* projects page css below */

.page-title {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
#projects-page-title {
  max-width: 100%;
  max-height: 200px;
  position: absolute;
  bottom: -100px;
  z-index: -1;
}

#project-list {
  margin: 60px auto 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: solid white 2px;
  padding-bottom: 30px;
}
.project-card {
  border: solid white 3px;
  border-radius: 5%;
  overflow: hidden;
  max-width: 600px;
  min-width: 250px;
  margin: 10px;
}
.project-title {
  background-color: grey;
  margin: 0;
  padding: 20px;
  font-family: "splash";
  font-size: 1rem;
  font-weight: 100;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.project-image {
  max-width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.project-description {
  padding: 0px 30px 30px 30px;
  color: grey;
}

/* About me page styling */

#about-page-title {
  max-width: 100%;
  max-height: 200px;
  position: absolute;
  bottom: -120px;
  z-index: -1;
}

#about-me-section {
  margin: 120px auto 30px;
  padding: 30px;
  color: white;
  border-bottom: solid white 2px;
  border-top: solid white 2px;
  max-width: 600px;
}
