:root {
  --gunmetal: #121212;
  --charcoal: #1f1f1f;
  --neonGreen: #39ff14;
  --electric: #00bfff;
  --lightGrey: #e0e0e0;
  --slateGrey: #888888;
  --ld-background: light-dark(#fef6e4, var(--gunmetal));
  --ld-textColor: light-dark(#1e1e1e, var(--lightGrey));
  --ld-headerColor: light-dark(#7f5af0, var(--electric));
  --ld-highlight: light-dark(#ff8fab, var(--neonGreen));
  --ld-surface: light-dark(#fff1f1, var(--charcoal));
  --corners: 34px 0;
  --corners-small: 10px 0;
  --base-font-size: 1rem;
}

html {
  box-sizing: border-box;
  color-scheme: light dark;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: var(--base-font-size);
  background-color: var(--ld-background);
  color: var(--ld-textColor);
  font-family: "Work Sans", sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  margin: 0;
  font-size: calc(var(--base-font-size) * 2.5);
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.5rem;
}

h2 {
  margin: 0;
  font-size: var(--base-font-size);
  text-transform: uppercase;
  color: var(--ld-headerColor);
  letter-spacing: 0.25em;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.5rem;
}

h3 {
  margin: 0;
}

p {
  line-height: 1.5;
}

a {
  color: var(--ld-headerColor);
}

a:hover {
  color: var(--ld-highlight);
}

img {
  max-width: 100%;
  border-radius: var(--corners);
  max-height: 500px;
}

.icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}

ul svg {
  width: 36px;
  height: 36px;
}

.social {
  fill: var(--ld-headerColor);
}

.social-link:hover .social {
  fill: var(--ld-highlight);
}

/*about me styling*/

.main-article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  text-align: center;
}

.main-article img {
  margin: 0 auto;
  object-fit: cover;
  object-position: middle;
  height: 200px;
  width: 300px;
  overflow: hidden;
}

/* project section styling */

main {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.projects-header {
  margin: 2rem 0;
}

.projects {
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
}

.project-card {
  background-color: var(--ld-surface);
  padding: 1.5rem;
  border-radius: var(--corners);
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.light-border {
  border: 1px solid var(--slateGrey);
}

.project-card ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}

.project-card li {
  color: var(--ld-background);
  background-color: var(--ld-headerColor);
  border-radius: var(--corners-small);
  padding: 0.5rem;
  font-size: calc(var(--base-font-size) * 0.7);
  font-family: "Orbitron", sans-serif;
}

.hosted li {
  background-color: var(--ld-surface);
  border-radius: 0;
  width: 36px;
  height: 36px;
  margin-top: 1.5rem;
  padding: 0;
}

.project-card img {
  grid-row: 1/2;
  margin: 0 auto;
}

/* footer styling */

footer {
  text-align: center;
}

.footer-text {
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.footer-text-box ul {
  font-size: calc(var(--base-font-size) * 0.85);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-text-box li {
  line-height: 2;
}

.footer-title {
  margin: 2rem 0;
}

.footer-section .social {
  fill: var(--slateGrey);
}

@media (min-width: 750px) {
  :root {
    --base-font-size: 1.125rem;
  }
  h1 {
    margin-left: -3px;
  }
  .wrapper {
    padding: 5rem;
  }
  .main-article {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
  }
  .main-article img {
    max-height: 400px;
    margin: 0 0 0 auto;
    object-position: none;
    height: auto;
    width: auto;
    overflow: auto;
  }
  .icons {
    justify-content: flex-start;
  }
  footer {
    text-align: left;
  }
  .footer-text {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 850px) {
  .project-card {
    grid-template-columns: 1fr 1fr;
    text-align: left;
    gap: 3rem;
    padding: 3rem;
  }

  .project-card img {
    grid-column: 2;
    min-height: 200px;
  }

  .project-card ul {
    justify-content: flex-start;
  }
}
